# Web Scraping Selenium FR- Assignment - 2

It helps to automates the webpage we use it here for web scraping.

# import all the required libraries

In [5]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\stead\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\stead\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [6]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\stead\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\stead\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\stead\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\stead\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\stead\anaconda3\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\stead\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\stead\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\stead\anaconda3\lib\site-packages (from requests) (2.10)

In [7]:
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys

# Q1: Write a python program to scrape data for “Data Analyst” Job position in“Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

This task will be done in following steps:

1. first get the webpage https://www.naukri.com/
    
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore”
in “enter the location” field.

3. Then click the search button.

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done manually.

# load the drivers and URL

In [6]:
driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)
driver.implicitly_wait(10)

In [7]:
#call the Function Definition

#enter the details in the search column
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")

#enter the job title and location 
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

In [8]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [9]:
#create empty list for storing the data

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [10]:
#scrape the job tile

titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    job_title.append(i.text)
job_title

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Sr Manager I - Data Analyst (MINT)',
 'Data Analyst (SQL, Excel, R/Python, Dashboards, PowerBI) - Contract',
 'Specialist I / II Data Analyst',
 'Data Analyst with Marketing Analytics-Capco',
 'Inviting Business Analyst –Data Science and Insights Bangalore',
 'Junior Data Analyst',
 'SAS Data Analyst',
 'Associate - Data Analyst ( Growth)',
 'Associate - Data Analyst - Category Solutions',
 'Sr. Data Analyst',
 'Sr Manager I Data Analyst (MINT)']

In [11]:
#scrape the job location

location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru(Devalapur)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Ulsoor)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [12]:
#scrape the company name

companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company_name.append(i.text)
company_name

['Super India Tech Mark',
 'tech mahindra ltd',
 'CONDUENT BUSINESS SERVICES INDIA LLP',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'WEIWO Communication Pvt. Ltd.',
 'Cerner',
 'Cerner Corporation',
 'ExecBoardinAsia',
 'Flipkart Internet Private Limited',
 'Philips India Limited',
 'Capco Technologies Pvt Ltd',
 'GENPACT India Private Limited',
 'Happy Marketer Private Ltd',
 'Diverse Lynx',
 'Myntra Designs Pvt. Ltd.',
 'Myntra Designs Pvt. Ltd.',
 'Appmocx',
 'Walmart Labs']

In [13]:
#scrape the exoerience required

experience=driver.find_elements_by_xpath('//span[@class="ellipsis fleft fs12 lh16"]')
for i in experience:
    experience_required.append(i.text)
experience_required

['0-2 Yrs',
 '1,25,000 - 2,25,000 PA.',
 'Bangalore/Bengaluru(Devalapur)',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-2 Yrs',
 '4,50,000 - 5,00,000 PA.',
 'Bangalore/Bengaluru',
 '2-7 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '5-8 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru(Ulsoor)',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-9 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '11-15 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-5 Yrs',
 '5,50,000 - 6,50,000 PA.',
 'Bangalore/Bengaluru',
 '5-10 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '4-9 Yrs',
 '7,00,000 - 17,00,000 PA.',
 'Pune, Bangalore/Bengaluru',
 '0-4 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '1-3 Yrs',
 '3,00,000 - 7,00,000 PA.',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 '2-6 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '2-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '3-5 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru',
 '10-15 Yrs',
 'Not disclosed',
 'Bangalore/Bengaluru']

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 60

In [15]:
# create a DataFrame for data

data_analyst_jobs=pd.DataFrame({})
data_analyst_jobs['Job Title']=job_title[0:15]    
data_analyst_jobs['Job Location']=job_location[0:15]
data_analyst_jobs['Company Name']=company_name[0:15]
data_analyst_jobs['Experience Required']=experience_required[0:15]
data_analyst_jobs

,Job Title,Job Location,Company Name,Experience Required
0,Data Analyst,Bangalore/Bengaluru(Devalapur),Super India Tech Mark,0-2 Yrs
1,Data Analyst,Bangalore/Bengaluru,tech mahindra ltd,"1,25,000 - 2,25,000 PA."
2,Data Analyst,Bangalore/Bengaluru,CONDUENT BUSINESS SERVICES INDIA LLP,Bangalore/Bengaluru(Devalapur)
3,Data Analyst,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs
4,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,Not disclosed
5,Data Analyst,Bangalore/Bengaluru,Myntra Designs Pvt. Ltd.,Bangalore/Bengaluru
6,Data Analyst,Bangalore/Bengaluru(Ulsoor),WEIWO Communication Pvt. Ltd.,1-2 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Cerner,"4,50,000 - 5,00,000 PA."
8,Senior Data Analyst,Bangalore/Bengaluru,Cerner Corporation,Bangalore/Bengaluru
9,Sr Manager I - Data Analyst (MINT),Bangalore/Bengaluru,ExecBoardinAsia,2-7 Yrs
10,"Data Analyst (SQL, Excel, R/Python, Dashboards...",Bangalore/Bengaluru,Flipkart Internet Private Limited,Not disclosed
11,Specialist I / II Data Analyst,Bangalore/Bengaluru,Philips India Limited,Bangalore/Bengaluru
12,Data Analyst with Marketing Analytics-Capco,"Pune, Bangalore/Bengaluru",Capco Technologies Pvt Ltd,3-6 Yrs
13,Inviting Business Analyst –Data Science and In...,Bangalore/Bengaluru,GENPACT India Private Limited,Not disclosed
14,Junior Data Analyst,"Bangalore/Bengaluru, Mumbai (All Areas)",Happy Marketer Private Ltd,Bangalore/Bengaluru

# Q2: Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

This task will be done in following steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter
“Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note- 1. All of the above steps have to be done in code. No step is to be done
manually.

# load the drivers and URL

In [16]:
driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
url=("https://www.naukri.com/")
driver.get(url)
driver.implicitly_wait(10)

In [17]:
#call the Function Definition

#navigate to search column
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")

#enter the job title and location
search_field_designation.send_keys("Data Scientist")
search_field_location.send_keys("Bangalore")

In [18]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [19]:
#create empty list for storing the data

job_title=[]
job_location=[]
company_name=[]
job_description=[]

In [20]:
#scrape the job tile

titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
for i in titles:
    job_title.append(i.text)
job_title

['Data Scientist',
 'Opportunity For Data Scientist Internship - Bengaluru',
 'Data Scientist/ Analyst',
 'Data Scientist - Machine Learning',
 'Data Scientist || Data Analyst || Data science',
 'DBCG IND - GAMMA Senior Data Scientist',
 'Data Scientist/Senior Data Scientist',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Global Medical Data Scientist',
 'Associate Data Scientist - CRM & Loyalty',
 'Data Scientist/Data Analyst-immediate',
 'Data Scientist',
 'Data Scientist',
 'Jr. Data Scientist',
 'Senior Data Scientist (Machine Vision solutions)',
 'Data Scientist - BFSI',
 'Senior Data Scientist/Manager Data Scientist',
 'Excellent Opportunity Of Data Scientist For CMMI Level 5 Company',
 'Job Opening For the Position Data Scientist',
 'Data Scientist- NIIT ltd.']

In [21]:
#scrape the job location

location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
for i in location:
    job_location.append(i.text)
job_location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Navi Mumbai, Bangalore/Bengaluru',
 'Mumbai, New Delhi, Chennai, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Kolkata, Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sector 1 HSR Layout)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [22]:
#scrape the company name

companies=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
for i in companies:
    company_name.append(i.text)
company_name

['CronJ IT Technologies Private Limited',
 'Corner Stone Solutions',
 'Becton Dickinson India Pvt. Ltd',
 'AugmatrixGo',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Boston Consulting Group',
 'GANIT BUSINESS SOLUTIONS PRIVATE LIMITED',
 'CES Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Shell India Markets Private Limited',
 'Inflexion Analytix Private Limited',
 'DUN & BRADSTREET INFORMATION SERVICES INDIA PRIVATE LIMITED',
 'Redcan IT Services LLP',
 'Multi Recruit',
 'ONX Software Systems Pvt Ltd',
 'Black Turtle India Pvt Ltd',
 'Novitas Infotech',
 'Skyleaf Consultants',
 'Pluto seven business solutions (p) limited',
 'NIIT Ltd.']

In [23]:
#scrape the detail job description

from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        job_description.append(description)
    except NoSuchElementException :
        job_description.append("Not Available")
job_description

['Job description\nResponsibilities and Duties\nCreate innovative solutions using data across sales, health care and related fields for building object detection models, classification models, recommendation engine, sentiment analysis etc.\nFamiliarity with deep learning algorithms and frameworks like TensorFlow, Pytorch, Keras.\nGood to go with NLP and NLTK\nDay-to-day responsibilities include use, customize and create algorithms/models for specific tasks in data science.\nGet exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions.\nWork on real-life projects involving Computer Vision, NLP and other AI techniques,\nUsing innovative ideas to collect, curate or synthesize data.\nModel the problem into an ML/DL framework.\nDeploy models to real time staging servers.\nFlexibility in working independently and do needful research whenever required.\nRequired Experience, Skills and Qualifications\nKnowledge of Python\nKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.\nScripting\nUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.\nKnowledge on NLP\nGood Knowledge on OOP and programing in python adapting to requirement\nUnderstanding of AWS.\nUnderstanding of any annotation tool.\nAbility to write robust and testable code.\nStrong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.\nStrong communication skills.\nAn analytical mind with problem-solving abilities.\nDegree in Computer Science, Mathematics, Computational Linguistics or similar field.\nRoleTrainee\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :Any Graduate in Any Specialization\nPG :Any Postgraduate in Any Specialization\nKey Skills\nTensorflowJavaC++CphythonData StructuresArtificial IntelligenceMachine LearningMATLABsoftware DeveloperNLPAlgorithmsFresherComputer VisionLinear Algebra',
 'Job description\nLocation - Bangalore / Bengaluru\nDuration- 6 Months\nResponsibilities and Duties\nCreate innovative solutions using data across sales, health care and related fields for building object detection models, chatbots, classification models etc.\nFamiliarity with deep learning algorithms and frameworks like Pytorch, Keras, TensorFlow.\nGood to go with NLP and NLTK\nDay-to-day responsibilities include use, customize and create algorithms for specific tasks in data science.\nGet exposed to and work on cutting-edge products based on ML and AI to create innovative industry solutions..\nWork on real-life projects involving Computer Vision, NLP and other AI techniques,\nUsing innovative ideas to collect, curate or synthesize data.\nModel the problem into an ML/DL framework.\nDeploy models to real time staging servers.\nFlexibility in working independently and do needful research whenever required.\nRequired Experience, Skills and Qualifications\nKnowledge of Python\nKnowledge in libraries like OpenCV, Scikit Learn, NumPy etc.\nUnderstanding of different frameworks like Pytorch, TensorFlow, Keras etc.\nKnowledge on NLP\nGood Knowledge on OOP and programing in python adapting to requirement\nUnderstanding of aws\nUnderstanding of any annotation tool\nAbility to write robust and testable code.\nStrong knowledge in computer science fundamentals, algorithms, mathematics, linear algebra, probability and statistics.\nStrong communication skills.\nAn analytical mind with problem-solving abilities.\nDegree in Computer Science, Mathematics, Computational Linguistics or similar field.\nQualification:\n\nLooking for IIT, IIIT IISc, NIT, BIT & Equivalent colleges (Preferred)\nRoleSoftware Developer\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Temporary/Contractual\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nKey Skills\nNLPOpencvArtificial Intelligence\nData ScienceRtensorflowAlgorithmsMATLABLinear AlgebraPython\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nRoles and Responsibilities\nob Description Summary:\nAs a member of the BD Advanced Analytics team, the Data Scientist role will collect, interpret, and deploy predictive analytics and machine learning models to assist our business partners in delivering advanced data analytics solutions to address key strategic business initiatives. The primary focus being the development and deployment of actionable insights that have a positive impact on BD’s business operations.\nJob Description:\nEvaluating business requirements and developing compelling user stories in collaboration with business stakeholders across various functions and regions\nCollecting, interpreting, preparing and modelling data to provide actionable insights\nPrototyping advanced data analytics solutions for presentation to business partners and stakeholders\nApplying predictive analytics and machine learning methods and techniques appropriately to address business requirements\nProvide expertise to guide business stakeholders in identifying opportunities for the use of BD’s data assets for the purpose of advanced data analytics\nWork closely with data engineering and DataOps peers to productionalize advanced data analytics use cases\nQualifications\nMaster’s degree in STEM field or equivalent demonstrated work experience\nExperience with Python, R, Hadoop, HIVE, SPARK, Jupyter and related advanced analytics / machine learning libraries (Scikitlearn, Tensorflow, Keras, )\nMinimum 2 years of relevant work experience\nAbility to translate complex solutions to a non-technical audience (storytelling & visualization)\nExpertise in machine learning, neural networks, clustering, classification, regression and other common advanced analytics methods and techniques\nMature competency for critical thinking, problem solving, working with ambiguity, communications and collaboration\nPreferred\nExperience with technologies related to data preparation, processing & optimization (e.g. Azure, HQL, SPARK SQL)\nExperience with data visualization tools (Power BI)\nFlexibility to accommodate meetings with international stakeholders in their respective time-zone\n\n\n\nRoleSoftware Developer\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - eCommerce, Internet Technologies\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :Any Postgraduate in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nRHiveHadoopData AnalyticsMachine LearningPythonPredictive Analytics',
 'Job description\nRoles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS\nRoleData Analyst\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nHiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 'Job description\nJob description\nJob Summary and Key Responsibilities\nManage, architect, and analyze big data to build data driven business insights and high impact data models to generate significant business value. Create models and processes to collect, distill and interpret data with a view to aid better, more informed decision making. Examine and explore data from multiple disparate sources with the goal of discovering insights which in turn can provide competitive advantage for our stakeholders.\nThe role involves but not limited to the following:\nCreate insights from predictive statistical modeling, mathematical knowledge, tools, and techniques to solve complex problems and deliver value\nCollaborate with Accenture teams to address business issues and influence change using strategy, industry, and analytical skills\nDeliver large-scale programs that integrate processes with technology to help clients achieve high performance\nMining and EDA of large datasets to assist in developing analytics solution\nIndividual contributor and/or oversees a small work effort\nWork with minimal supervision on daily tasks and moderate level of instruction on new assignments\nKey Skills\nMust Have\nAnalytical skills\nKnowledge of statistical techniques and machine learning algorithms\nKnowledge of analysis tools like R, Python\nAdvanced Excel, PowerPoint skills\nAdvanced communication (written and oral) and strong interpersonal skills\nAbility to work cross-culturally\nGood to have\nKnowledge on Google Cloud Platform\nHuman Resources experience\nAdditional Accenture HR systems experience\nUnderstanding of Text analysis, VBA, Java, Python, .Net and visualization tools like Qliksense, Qlikview, Tableau will be an added advantage\nInterested Candidates\n\n\nPlease Contact: Geethanjali\n9900044693\nhr1@inspirationmanpower.co.in\n\nRoleData Analyst\nIndustry TypeBPO, Call Centre, ITeS\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nData ScienceJavaREDAStatistical ModelingData AnalysisBig DataTableauMachine LearningPython',
 'Job description\n    What Youll Do\n\nWe re looking for a passionate and talented Senior Data Scientist to join our rapidly growing team.\nIn this role, you ll have the chance to roll up your sleeves and apply data science methods and analytics to real-world business situations across a variety of industries.\nAs the field of advanced analytics is rapidly evolving, the SDS is responsible for staying current on leading-edge business applications, tools and approaches, proactively working with the Analytics Leadership to enhance offerings that\ndeliver competitive advantage to BCG.\nSuccessful candidates are intellectually curious builders who are biased toward action, scrappy, and communicative.\nYou will also get the chance to travel: we have clients across the globe Make sure your passport is ready to go!\n \n\n\nWHO YOU ARE. YOU:\nHave deep technical and Data Science expertise: The successful candidate will have a wealth of experience with applying advanced analytics to a variety of business situations, such that they can efficiently and effectively advise multiple teams on the best path to uncovering critical insights for clients.\nAre an autonomous self-starter with a passion for analytics and problem solving. You will help build new Analytics service offerings that grow our portfolio of products and will captures proprietary content, and support the creation of proposal/selling documents.\nAre comfortable managing engagements, client relationships, and acting as a thought Leader. Strong presence, strong collaborator and leadership skills and ability to operate effectively in a matrix organization are a must.\nLove building things and are comfortable working with modern development tools and writing code collaboratively (bonus points if you have a software development or DevOps experience)\nHave significant experience applying advanced analytics to a variety of business situations and a proven ability to synthesize complex data; as well as a deep understanding of modern machine learning techniques and their mathematical underpinnings, and are able to translate this into business implications for our clients\nHave strong project management skills\nMaster s Degree with significant relevant experience providing advanced analytics solutions, or relevant PhD in computer science, applied mathematics, statistics, machine learning, or a related data centric field.\nDemonstrated deep technical and data science expertise, acute strategic and analytical skills, ability to lead and persuade, drive and energy, and desire to work in a project based environment on strategic issues.\nStrong record of professional accomplishment and leadership.\nFluency in at least one scripting language (e.g. Python, R)\nFluency in English and local office language are required\nFast-paced, intellectually intense, service-oriented environment\nPosition is located in either Chennai, Mumbai, Delhi-NCR or Bengaluru\nExpect up to 60-80% of time spent traveling\nRoleSoftware Developer\nIndustry TypeStrategy, Management Consulting Firms\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nPG :Post Graduation Not Required\nKey Skills\nComputer scienceadvanced analyticsSDSdata scienceArtificial IntelligenceProject managementMachine learningManagement consultingBusiness strategyPython',
 'Job description\n\nAbout Ganit Inc\n\nFounded by senior industry experts, Ganit is the fastest-growing data science company in Chennai with offices in Bengaluru, Mumbai & New Jersey.\nGanit has flipped the data science value chain as we do not start with a technique but for us, consumption comes first. With this philosophy, we have successfully scaled from being a small start-up to a 200 resource company with clients in the US, Singapore, Africa, UAE, and India.\nWe are looking for experienced data enthusiasts who can make the data talk to them.\n\nWhat you will be doing.\n\nUnderstand business problems and translate business requirements into technical requirements.\n\nConduct complex data analysis to ensure data quality & reliability i.e., make the data talk by extracting, preparing, and transforming it.\n\nIdentify, develop and implement statistical techniques and algorithms to address business challenges and add value to the organization.\n\nGather requirements and communicate findings in the form of a meaningful story with the Stakeholders.\n\nBuild & implement data models using predictive modeling techniques. Interact with clients and provide support for queries and delivery adoption.\n\nLead and mentor data analysts.\n\nWhat we are looking for:\nApart from your love for data and ability to code even while sleeping you would need the following.\n\nMinimum of 04 years of experience in designing and delivery of data science solutions.\n\nYou should have successful projects in Manufacturing in your kitty to show-off. (Experience on manufacturing analytics is a MUST)\n\nDeep understanding of various statistical techniques, mathematical models, and algorithms to start the conversation with the data in hand.\n\nAbility to choose the right model for the data and translate that into a code using R, Python, VBA, SQL, etc.\n\nBachelors/Masters degree in Engineering/Technology or\nMBA from Tier-1 B School or\nMSc. in Statistics or Mathematics\n\nWhat is in it for you:\n\nBe a part of building the biggest brand in Data science.\nAn opportunity to be a part of a young and energetic team with a strong pedigree.\nWork on awesome projects across industries and learn from the best in the industry, while growing at a hyper rate.\nRoleData Analyst\nIndustry TypeAutomobile, Auto Anciliary, Auto Components\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nPredictive ModelingManufacturing AnalyticsPython\nData ScienceRData QualityAlgorithmsVBAData AnalysisAnamoly detectionStatisticsSQL\nSkills highlighted with ‘‘ are preferred keyskills',
 'Job description\nRoles and Responsibilities\n\nMust have strong Python Programming Skills\nStrong analytical & algorithm development skills\nLogical and Analytical skills must be really strong\nMust have worked in DeepLearning Efforts - Especially computer vision.\nMust have experinece with Object Detection - Custom model training for Object detection\nShould have experience with atleast one or more of these - Tensorflow, Keras, PyTorch\n\nPrimary Skills - Python + tensorflow - Keras / PyTorch, OpenCV\nPerks and Benefits\n\nKindly share your resume to kandavelkumar.lakshmanan @cesltd.com\n\nRoleTechnical Architect\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryProgramming & Design\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nTensorflowObject DetectionAlgorithm DevelopmentAnalytical SkillsProgrammingMachine LearningDeep LearningPytorchData ScienceROpencvKerasComputer VisionPython',
 'Not Available',

In [24]:
#create a DataFrame for our data

data_scientist_jobs=pd.DataFrame({})
data_scientist_jobs['Job Title']=job_title[0:10]    
data_scientist_jobs['Job Location']=job_location[0:10]
data_scientist_jobs['Company Name']=company_name[0:10]
data_scientist_jobs['Detailed Job Description']=job_description[0:10]
data_scientist_jobs

,Job Title,Job Location,Company Name,Detailed Job Description
0,Data Scientist,Bangalore/Bengaluru,CronJ IT Technologies Private Limited,Job description\nResponsibilities and Duties\n...
1,Opportunity For Data Scientist Internship - Be...,Bangalore/Bengaluru,Corner Stone Solutions,Job description\nLocation - Bangalore / Bengal...
2,Data Scientist/ Analyst,Bangalore/Bengaluru,Becton Dickinson India Pvt. Ltd,Job description\nRoles and Responsibilities\no...
3,Data Scientist - Machine Learning,Bangalore/Bengaluru,AugmatrixGo,Job description\nRoles and Responsibilities\n\...
4,Data Scientist || Data Analyst || Data science,"Navi Mumbai, Bangalore/Bengaluru",Inspiration Manpower Consultancy Pvt. Ltd.,Job description\nJob description\nJob Summary ...
5,DBCG IND - GAMMA Senior Data Scientist,"Mumbai, New Delhi, Chennai, Bangalore/Bengaluru",Boston Consulting Group,Job description\n What Youll Do\n\nWe re lo...
6,Data Scientist/Senior Data Scientist,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",GANIT BUSINESS SOLUTIONS PRIVATE LIMITED,Job description\n\nAbout Ganit Inc\n\nFounded ...
7,Senior Data Scientist | CES IT LTD | CMMI Level 5,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",CES Ltd.,Job description\nRoles and Responsibilities\n\...
8,Global Medical Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,Not Available
9,Associate Data Scientist - CRM & Loyalty,Bangalore/Bengaluru,Shell India Markets Private Limited,Job description\nThe Role\nGeneral Position De...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
    
2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

3. Then click the search button.

4. Then apply the location filter and salary filter by checking the respective boxes

4. Then scrape the data for the first 10 jobs results you get.

5. Finally create a dataframe of the scraped data.

Note- All of the above steps have to be done in code. No step is to be done
manually.

In [9]:
#calling webdriver

driver=webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe') 

#If not r, we can use executable_path = "C:/path name"
#Getting the website to driver
driver.get('https://www.naukri.com/')

#Finding the required elements from the search bar of job
job_search=driver.find_element_by_id('qsb-keyword-sugg')

#Sending the input to the webpage
job_search.send_keys("Data Scientist")

#Searching the input by using the search button and clicking it
driver.find_element_by_xpath("//div[@class='search-btn']/button").click()

#Locating the filters in the webpage
#First, filter the location
filter_location=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_location:
    if i.text=='Delhi / NCR':
        i.click()
        break
        
#Filtering the salary
filter_salary=driver.find_elements_by_xpath("//span[@class='ellipsis fleft']")
for i in filter_salary:
    if i.text=='3-6 Lakhs':
        i.click()
        break
        
#After filtering location and salary, specify the url of webpage
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&ctcFilter=3to6&cityTypeGid=9508"
driver.get(url)

#Extracting all the tags having the job title
job_title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
job_title

#Extracting the text from the tags
title=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_title[:10]:
    title.append(i.text)
title

#Extracting all the tags having the job location
job_location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
job_location

#location
location=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in job_location[:10]:
    location.append(i.text)
location

#Extracting the tags having the company name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
name

#Extracting the text from the tags
company=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in name[:10]:
    company.append(i.text)
company

#Extracting the tags having experience required
exp_required=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
exp_required

#Extracting the text from the tags
exp=[]  #Empty list

#scrap data for the first 10 job results, we are running a for loop to first 10 results only
for i in exp_required[:10]:
    exp.append(i.text)
exp
#Checking out the length of the data extracted
print(len(title),len(location),len(company),len(exp))

#saving in dataframe
jobs=pd.DataFrame({})
jobs['Title']=title
jobs['Location']=location
jobs['Company name']=company
jobs['Experience required']=exp
jobs

10 10 10 10

,Title,Location,Company name,Experience required
0,Data Scientist - IBM Garage,"Noida, Hyderabad/Secunderabad, Bangalore/Benga...",IBM India Pvt. Limited,5-8 Yrs
1,Data Scientist/Data Analyst - Python/Machine L...,"Mumbai, Ghaziabad",Change leaders,5-10 Yrs
2,Females Required- Data Scientist- Noida,"Noida, Gurgaon/Gurugram, Delhi / NCR",Randstad,3-7 Yrs
3,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Bangalore/Bengal...",FUTURES AND CAREERS,2-7 Yrs
4,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Pune, Chennai, Bangalo...",FUTURES AND CAREERS,2-7 Yrs
5,Data Scientist - Python / Machine Learning / T...,"Mumbai, Hyderabad/Secunderabad, Bangalore/Beng...",FUTURES AND CAREERS,3-8 Yrs
6,Data Scientist - Python & Machine Learning,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,2-7 Yrs
7,Required- Data Scientist (NLP)-Axis Bank - 6 m...,"Kolkata, New Delhi, Hyderabad/Secunderabad, Pu...",Axis Bank Limited,4-9 Yrs
8,Data Scientist - Python / Machine Learning / T...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs
9,Data Scientist - Python & Machine Learning (IS...,"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",FUTURES AND CAREERS,3-8 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:
1. first get the webpage https://www.glassdoor.co.in/index.htm
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida”
in “location” field.
3. Then click the search button. You will land up in the below page:

4. Then scrape the data for the first 10 jobs results you get in the above shown
page.
5. Finally create a dataframe of the scraped data.
Note- All of the above steps have to be done in code. No step is to be done
manually.

In [53]:
#call the Function Definition

def glass_door_job(url):
    
    #create empty list for storing the data
    job_title=[]
    company_name=[]
    rating=[]
    days=[]
    
    #load the drivers and URL
    driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    # If we visit the glassdoor page we will observe that, to navigate into the page we have to do the login
    #click on the sign-in button for login in
    driver.find_element_by_xpath('//div[@class="locked-home-sign-in"]').click()
    
    #enter the demo login details
    driver.find_element_by_xpath('//input[@id="userEmail"]').send_keys('getdarjee@gmail.com')
    driver.find_element_by_xpath('//input[@id="userPassword"]').send_keys('Assignment@123')
    time.sleep(5)
    
    #maximize the window size because there are some text font size is will has other element details in short window
    driver.find_element_by_xpath('//button[@class="gd-ui-button minWidthBtn css-8i7bc2"]').click()
    driver.maximize_window()
    time.sleep(3)
    
    #fill the requied details in search column and click search
    driver.find_element_by_xpath('//*[@id="sc.keyword"]').send_keys('Data Scientist')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.CONTROL+'a')
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys(Keys.DELETE)
    driver.find_element_by_xpath('//*[@id="sc.location"]').send_keys('Noida (India)')
    time.sleep(5)
    
    #search the desired detail which we hve entered
    driver.find_element_by_xpath('//*[@id="scBar"]/div/button').click()
    time.sleep(5)
    
    jobs=driver.find_elements_by_xpath('//article[@id="MainCol"]/div/ul/li')
    for job in jobs:
        try:
            driver.find_element_by_xpath('//*[@id="JAModal"]/div/div[2]/span').click()
        except:
            pass
        
        job.click()
        time.sleep(3)
    
        #scrape the data
        job_title.append((driver.find_element_by_xpath('//div[@class="css-1vg6q84 e1tk4kwz4"]')).text)
        company_name.append((driver.find_element_by_xpath('//div[@class="css-87uc0g e1tk4kwz1"]')).text.replace('\n',''))
        try:
            rating.append((driver.find_element_by_xpath('//span[@data-test="detailRating"]')).text)
        except:
            rating.append('NA')
        try:
            days.append((driver.find_element_by_xpath('//div[@data-test="job-age"]')).text)
        except:
            pass
        
    job_glass_door=pd.DataFrame({})
    job_glass_door['Job Title']=job_title[0:10]
    job_glass_door['Company Name']=company_name[0:10]
    job_glass_door['Rating of the Company']=rating[0:10]
    job_glass_door['Job Posted Days Ago']=days[0:10]
    return job_glass_door

In [54]:
#call the Calling Function

glass_door_job('https://www.glassdoor.co.in/index.htm')

,Job Title,Company Name,Rating of the Company,Job Posted Days Ago
0,Data Scientist,Biz2Credit Inc3.8,3.8,30d+
1,Urgent Hiring for Data Scientist Position(Exp ...,Unyscape Infocom Pvt. Ltd4.1,4.1,30d+
2,Data Scientist,Techlive5.0,5.0,30d+
3,Manager - Data Scientist,Genpact3.8,3.8,30d+
4,Data Science Intern,Asquero5.0,5.0,30d+
5,Data Scientist Intern,Salasar New Age Technologies,NA,30d+
6,Data Scientist 2,Microsoft4.4,4.4,30d+
7,Data Scientist,Salasar New Age Technologies,NA,30d+
8,Data Scientist,"ESRI, Inc.3.9",3.9,30d+
9,Data Science Internship,Accolite Software Private Limited3.9,3.9,30d+

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.
The above task will be, done as shown in the below steps:
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm
2. Enter “Data Scientist” in Job title field and “Noida” in location field.
3. Click the search button.
4. After that you will land on the below page
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company
name, Average salary and rating of the company.
6.Store the data in a dataframe.
Note that all of the above steps have to be done by coding only and not manually.

In [24]:
#call web driver
driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')

#website
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

#Finding the required elements from the search bars of job and location
job_search=driver.find_element_by_id('KeywordSearch')
location_search=driver.find_element_by_id('LocationSearch')

#Sending the inputs to the webpage
job_search.send_keys("Data Scientist")
location_search.send_keys("Noida")

#Searching the inputs by using the search button and clicking it
driver.find_element_by_xpath("//button[@class='gd-btn-mkt']").click()

#specify webpage from where data have to be scrapped
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"
driver.get(url)

#Extracting the tags having the company name
comp_name=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[2]")
comp_name

#Extracting the text from the tags
company=[]  #Empty list

#scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in comp_name[:10]:
    company.append(i.text)
company

#Extracting the tags having the number of salaries
no_salaries=driver.find_elements_by_xpath("//div[@class='d-flex']/div[2]/p[5]")
no_salaries

#Extracting the text from the tags
no_of_salaries=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in no_salaries[:10]:
    no_of_salaries.append(i.text)
no_of_salaries

#Extracting the tags having average salary
avg_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_sal

#Extracting the text from the tags
avg_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in avg_sal[:10]:
    avg_salary.append(i.text.replace('\n',''))
avg_salary

#Extracting the tags having minimum salary
min_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[1]")
min_sal

#Extracting the text from the tags
min_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in min_sal[:10]:
    min_salary.append(i.text)
min_salary

#Extracting the tags having the maximum salary
max_sal=driver.find_elements_by_xpath("//div[@class='col-3 offset-1 d-none d-md-block']/div/div[2]/span[2]")
max_sal

#Extracting the text from the tags
max_salary=[]  #Empty list

#As we need to scrap data for the first 10 job results, we are running a for loop for first 10 results only
for i in max_sal[:10]:
    max_salary.append(i.text)
max_salary

#Checking out the length of the data extracted
print(len(company),len(no_of_salaries),len(avg_salary),len(min_salary),len(max_salary))

#dataframe for saving the data
jobs=pd.DataFrame({})
jobs['Company Name']=company
jobs['Number of salaries']=no_of_salaries
jobs['Average salary']=avg_salary
jobs['Minimum salary']=min_salary
jobs['Maximum salary']=max_salary
jobs

10 10 10 10 10

,Company Name,Number of salaries,Average salary,Minimum salary,Maximum salary
0,Tata Consultancy Services,14 salaries,"₹ 5,97,967/yr",₹333K,"₹1,080K"
1,Accenture,14 salaries,"₹ 11,12,243/yr",₹560K,"₹2,147K"
2,Delhivery,14 salaries,"₹ 12,12,741/yr",₹436K,"₹11,274K"
3,IBM,13 salaries,"₹ 7,37,972/yr",₹569K,"₹2,648K"
4,Ericsson-Worldwide,12 salaries,"₹ 7,15,984/yr",₹350K,"₹1,565K"
5,UnitedHealth Group,10 salaries,"₹ 13,41,900/yr","₹1,037K","₹1,500K"
6,Valiance Solutions,9 salaries,"₹ 7,90,812/yr",₹487K,"₹1,421K"
7,Innovaccer,8 salaries,"₹ 11,81,047/yr",₹602K,"₹1,644K"
8,ZS Associates,7 salaries,"₹ 9,89,924/yr",₹196K,"₹1,755K"
9,EXL Service,7 salaries,"₹ 11,73,127/yr",₹558K,"₹1,500K"

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2. Product Description
3. Price
4. Discount %
The attributes which you have to scrape is ticked marked in the below image.
To scrape the data you have to go through following steps:
1. Go to flipkart webpage by url https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and
more” is written and click the search icon
3. after that you will reach to a webpage having a lot of sunglasses. From this page
you can scrap the required data as usual.
4. after scraping data from the first page, go to the “Next” Button at the bottom of
the page , then click on it.
5. Now scrape data from this page as usual
6. repeat this until you get data for 100 sunglasses.
Note that all of the above steps have to be done by coding only and not manually.

In [72]:
#call the Function Definition

def flipkart_sunglasses(url):
    
    #load the drivers and URL
    driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
    driver.get(url)
    driver.implicitly_wait(10)
    
    #navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #search for sunglasses product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sunglasses')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    #create empty list for storing the data
    sunglass_brand_name=[]
    sunglass_description=[]
    sunglass_price=[]
    sunglass_discount=[]
    
    #scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sunglass_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sunglass_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sunglass_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sunglass_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    #create a DataFrame for our data   
    sunglasses_flip=pd.DataFrame({})
    sunglasses_flip['Product Brand']=sunglass_brand_name[:100]
    sunglasses_flip['Product Description']=sunglass_description[:100]
    sunglasses_flip['Price of Product']=sunglass_price[:100]
    sunglasses_flip['Discount on Product']=sunglass_discount[:100]
    return sunglasses_flip

In [73]:
#call the Calling Function

flipkart_sunglasses('https://www.flipkart.com/')

,Product Brand,Product Description,Price of Product,Discount on Product
0,PIRASO,"UV Protection Rectangular, Over-sized Sunglass...",₹449,85% off
1,PIRASO,UV Protection Over-sized Sunglasses (60),₹179,88% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹569,28% off
4,Fastrack,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹499,50% off
...,...,...,...,...
95,NuVew,"UV Protection, Mirrored, Gradient Wayfarer Sun...",₹318,68% off
96,GANSTA,UV Protection Aviator Sunglasses (57),₹289,85% off
97,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...",₹399,80% off
98,Aislin,"UV Protection, Gradient Cat-eye Sunglasses (58)",₹459,69% off
99,Aislin,UV Protection Cat-eye Sunglasses (58),₹493,80% off

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.
When you will open the above link you will reach to the below shown webpage.

As shown in the above page you have to scrape the tick marked attributes.
These are
1. Rating
2. Review_summary
3. Full review
You have to scrape this data for first 100 reviews.

In [76]:
#call the Function Definition

def iphone_100_review(url):
    
    #load the drivers and URL
    driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    #create empty list for storing the data
    rating=[]
    review_summary=[]
    full_review=[]
    
    #scrape the data
    j=0
    while j<10:
    
        ratings=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
        for i in ratings:
            rating.append(i.text)
        
        reviews=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
        for i in reviews:
            review_summary.append(i.text)
        
        full_reviews=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
        for i in full_reviews:
            full_review.append(i.text)
        time.sleep(10)    
        
        driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        time.sleep(10)
        j+=1
        time.sleep(10)
    
    #create a DataFrame for our data
    iphone_review=pd.DataFrame({})
    iphone_review['Rating']=rating
    iphone_review['Review Summary']=review_summary
    iphone_review['Full Reviews']=full_review
    return iphone_review

In [77]:
# call the Calling Function

iphone_100_review('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace')

,Rating,Review Summary,Full Reviews
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Worth every penny,Previously I was using one plus 3t it was a gr...
3,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
4,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
...,...,...,...
95,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
96,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
97,5,Fabulous!,This is my first iOS phone. I am very happy wi...
98,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...
99,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %
As shown in the below image, you have to scrape the tick marked attributes.

In [80]:
#call the Function Definition

def flip_sneakers(url):
    
    #load the drivers and URL
    driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
    driver.get(url)
    
    #navigate to search bar
    driver.find_element_by_xpath('//button[@class="_2KpZ6l _2doB4z"]').click()
    time.sleep(3)
    
    #search for sneaker product and then click search button
    driver.find_element_by_xpath('//input[@title="Search for products, brands and more"]').send_keys('sneakers')
    driver.find_element_by_xpath('//button[@type="submit"]').click()
    time.sleep(3)
    
    #create empty list for storing the data
    sneaker_brand_name=[]
    sneaker_description=[]
    sneaker_price=[]
    sneaker_discount=[]
    
    #scrape the data
    j=0
    while j<3:
        time.sleep(3)
        brands=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
        for brand in brands:
            sneaker_brand_name.append(brand.text)
        
        descriptions=driver.find_elements_by_xpath('//a[contains(@class,"IRpwTa")]')
        for description in descriptions:
            sneaker_description.append(description.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
        for price in prices:
            sneaker_price.append(price.text)
        
        discounts=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
        for discount in discounts:
            sneaker_discount.append(discount.text)
        if j==0:
            driver.find_element_by_xpath('//a[@class="_1LKTO3"]').click()
        elif j==1:
            driver.find_element_by_xpath('//nav[@class="yFHi8N"]/a[12]').click()
        else:
            pass
        j+=1
        
    #create a DataFrame for our data   
    sneakers_flipkart=pd.DataFrame({})
    sneakers_flipkart['Brand Name']=sneaker_brand_name[:100]
    sneakers_flipkart['Product Descriptions']=sneaker_description[:100]
    sneakers_flipkart['Price']=sneaker_price[:100]
    sneakers_flipkart['Discount %']=sneaker_discount[:100]
    return sneakers_flipkart

In [84]:
# call the Calling Function

flip_sneakers('https://www.flipkart.com/')

,Brand Name,Product Descriptions,Price,Discount %
0,French Connection,Sneakers For Men,₹799,60% off
1,Extoes,Modern Trendy Shoes Combo pack of 4 Sneakers F...,₹798,46% off
2,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹499,72% off
3,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹474,76% off
...,...,...,...,...
95,Airland,shoe Sneakers For Men,₹258,48% off
96,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹384,61% off
97,Englewood,White Shoes For Men | Casual White Laceups Sho...,₹496,66% off
98,Bonexy,Sneakers For Men,₹426,57% off
99,Bonexy,Sneakers For Men,₹379,62% off

# Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

And then scrape First 100 shoes data you get. The data should include “Brand” of
the shoes , Short Shoe description, price of the shoe as shown in the below image.
Please note that applying the filter and scraping the data , everything should be
done through code only and there should not be any manual step.

In [86]:
#call the Function Definition

def shoes_myntra(url):
    
    #load the drivers and URL
    driver = webdriver.Chrome(r'C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
    driver.get(url)
    time.sleep(5)
    
    #create empty list for storing the data
    brand_name=[]
    description=[]
    product_price=[]
    
    #apply filter for price
    driver.find_element_by_xpath('//ul[@class="price-list"]/li[2]').click()
    time.sleep(3)
    
    #apply filter for colour
    driver.find_element_by_xpath('//span[@data-colorhex="black"]').click()
    time.sleep(3)
    
    #scrape the data
    j=0
    while j<2:
        time.sleep(5)
        
        brands=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
        for q in brands:
            brand_name.append(q.text)
        
        descs=driver.find_elements_by_xpath('//h4[@class="product-product"]')
        for q in descs:
            description.append(q.text)
        
        prices=driver.find_elements_by_xpath('//div[@class="product-price"]')
        for q in prices:
            product_price.append(q.text)
        
        driver.find_element_by_xpath('//a[@rel="next"]').click()    
        time.sleep(5)
        j+=1
    
    #create a DataFrame for our data
    myntra_shoes=pd.DataFrame({})
    myntra_shoes['Brand of the Shoes']=brand_name[0:100]
    myntra_shoes['Short Shoes Description']=description[0:100]
    myntra_shoes['Price of the Shoes']=product_price[0:100]
    return myntra_shoes

In [87]:
#call the Calling Function

shoes=shoes_myntra('https://www.myntra.com/shoes')
shoes

,Brand of the Shoes,Short Shoes Description,Price of the Shoes
0,Saint G,Leather Heeled Boots,Rs. 11800
1,Nike,Men AIR MAX VOLLEY Tennis,Rs. 6965Rs. 8195(15% OFF)
2,Nike,Men AIR ZOOM Running Shoes,Rs. 11470Rs. 13495(15% OFF)
3,Nike,Men AIR MAX INFINITY 2 Sneaker,Rs. 7050Rs. 8295(15% OFF)
4,Nike,Men React Infinity Running,Rs. 12396Rs. 15495(20% OFF)
...,...,...,...
95,Hush Puppies,Men Textured Oxfords,Rs. 6999
96,Saint G,Women Leather Heeled Boots,Rs. 6675Rs. 8900(25% OFF)
97,Puma,Men IGNITE Ronin Unrest,Rs. 6999
98,Geox,Solid Leather Wedges,Rs. 9490
99,Geox,Women Solid Wedges,Rs. 8490

# price and discounted price of the shoes are came under same element id. So splitted the price and discounted price.And create a dataframe with the current price

In [88]:
shoes_myntra=shoes

In [89]:
#split the price and the discounted price

new_price=shoes_myntra['Price of the Shoes'].str.split("Rs.",n=2,expand=True)
shoes_myntra['Price in Rs']=new_price[1]

In [90]:
#drop the old price column

shoes_myntra.drop(columns=('Price of the Shoes'),axis=1,inplace=True)

In [91]:
shoes_myntra

   Brand of the Shoes         Short Shoes Description Price in Rs
0             Saint G            Leather Heeled Boots       11800
1                Nike       Men AIR MAX VOLLEY Tennis        6965
2                Nike      Men AIR ZOOM Running Shoes       11470
3                Nike  Men AIR MAX INFINITY 2 Sneaker        7050
4                Nike      Men React Infinity Running       12396
..                ...                             ...         ...
95       Hush Puppies            Men Textured Oxfords        6999
96            Saint G      Women Leather Heeled Boots        6675
97               Puma         Men IGNITE Ronin Unrest        6999
98               Geox            Solid Leather Wedges        9490
99               Geox              Women Solid Wedges        8490

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

In [93]:
#call the Function Definition

def laptop(url):
    
    #load the drivers and URL
    driver = webdriver.Chrome('C:/Users/stead/AppData/Local/Temp/Temp1_chromedriver_win32.zip/chromedriver.exe')
    driver.get(url)
    
    
    #create empty list for storing the data
    item_title=[]
    price=[]
    rating=[]
    
    #search for laptop product and then click search button
    driver.find_element_by_xpath('//input[@id="twotabsearchtextbox"]').send_keys('Laptop')
    driver.find_element_by_xpath('//input[@type="submit"]').click()
        
    #apply filter for "Intel Core i7"
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a',).click()
    time.sleep(5)
    
    #apply filter for "Intel Core i9"  
    driver.find_element_by_xpath('//*[@id="p_n_feature_thirteen_browse-bin/16757432031"]/span/a').click()
        
    #scrape the data
    titles=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
    for i in titles:
        item_title.append(i.text)
    prices=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
    for i in prices:
        price.append(i.text)
    ratings=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]/span[1]')   
    for i in ratings:
        rating.append(i.get_attribute('aria-label'))
        
    #create a DataFrame for our data
    amazon_laptops=pd.DataFrame({})
    amazon_laptops['Title']=item_title[:10]
    amazon_laptops['Price']=price[:10]
    amazon_laptops['Rating']=rating[:10]
    return amazon_laptops

In [94]:
#call the Calling Function

laptop('https://www.amazon.in/')

,Title,Price,Rating
0,(Renewed) HP ZBook 15 G3 Mobile Workstation - ...,"1,87,490",4.6 out of 5 stars
1,(Renewed) Lenovo Thinkpad Yoga S1 Laptop (CORE...,"38,990",3.9 out of 5 stars
2,HP 14 Thin & Light 14-inch FHD Laptop (11th Ge...,"76,500",3.5 out of 5 stars
3,ASUS ROG G703GI-E5148T 17.3-inch FHD 144Hz/3ms...,"5,22,077",4.3 out of 5 stars
4,LifeDigital ZED AIR CX7 15.6 IPS FHD Screen Bl...,"40,990",3.3 out of 5 stars
5,Mi Notebook Horizon Edition 14 Intel Core i5-1...,"53,999",5.0 out of 5 stars
6,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,"2,59,990",4.3 out of 5 stars
7,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,"83,990",2.7 out of 5 stars
8,"Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6""...","1,35,490",4.3 out of 5 stars
9,Dell Alienware m15(R3) 15.6-inch FHD Gaming La...,"1,98,590",4.6 out of 5 stars

# Vaishali